@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.header_top {
  width: 100%;
  height: 80px;
  font-family: Karla;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-transform: uppercase;
  max-width: 940px;
  margin: auto;
}

.header_top span {
  font-size: 24px;
}

.header_top_navbar {
  width: 100%;
  max-width: 656px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_top_navbar a {
  text-decoration: none;
  color: #1d1f2e;
}
.header_top_navbar a:hover {
  color: #1d1f2eb2;
}
.header_top_navbar_btn {
  width: 100%;
  max-width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_navbar_btn h5 {
  color: #1d1f2e;
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header_top_navbar_btn h4 {
  width: 20px;
  height: 18px;
  border-radius: 9px;
  font-family: Karla;
  border: 1px solid black;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header_bottom {
  width: 100%;
  height: 530px;
  max-width: 1380px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_header_bottom_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 530px;
  margin: auto;
}
.main_header_bottom_img > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.main_header_bottom_text {
  word-spacing: 2px;
  text-align: center;
  z-index: 1;
  color: white;
  position: absolute;
}
.main_header_bottom_text h4 {
  text-transform: uppercase;
  font-family: Karla;
  margin-top: 10px;
  font-size: 12px;
}
.main_header_bottom_text h1 {
  font-family: Karla;
  margin-top: 30px;
  font-size: 47px;
  font-weight: 400;
}
.main_header_bottom_text p {
  font-family: Karla;
  margin-top: 30px;
  font-size: 17px;
}
.main_header_bottom_text button {
  width: 231px;
  height: 33px;
  font-family: Karla;
  color: black;
  border: none;
  margin-top: 30px;
  box-shadow: 0 2px 6px 0px #1d1f2e1a;
  cursor: pointer;
  transition: all 0.4s;
}
.main_header_bottom_text button:hover {
  color: #a25f4b;
  box-shadow: 1 2px 6px 2px #0824a31a;
  border: 1px solid black;
}
.main_informationCofe {
  margin: auto;
  width: 658px;
  height: 100%;
  font-family: Karla;
  max-width: 658px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
  display: inline;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_informationCofe h1 {
  width: 578px;
  height: 80px;
  font-size: 28px;
  position: relative;
}
.main_informationCofe p {
  width: 658px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color: #1d1f2eb2;
}
.main_informationCofe button {
  width: 133px;
  height: 30px;
  color: #a25f4b;
  border: none;
  box-shadow: 0 2px 6px 0px #1d1f2e1a;
  text-decoration: double;
  cursor: pointer;
  top: -21px;
  margin-top: 21px;
}
.main_informationCofe button:hover {
  box-shadow: 0 2px 6px 0px #1d1f2e1a;
  color: black;
}
.main_premium_products_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
  margin-top: 100px;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  max-width: 30px;
}
h2 {
  color: #111;
  text-align: center;
  font-family: Karla;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
.main_premium_products_information {
  width: 100%;
  height: 657px;
  display: flex;
  justify-content: center;
}
.main_premium_products:first-of-type {
  width: 480px;
  height: 653px;
  align-items: center;
  gap: 10px;
}
.main_premium_products:last-of-type {
  width: 100%;
  height: 657px;
  max-width: 480px;
  align-items: center;
  gap: 10px;
}
.main_premium_products img {
  width: 460px;
  height: 540px;
  margin: 0 10px;
}
.main_premium_products h1 {
  font-family: Karla;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 6px;
}
.main_premium_products h3 {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #1d1f2eb2;
  margin-top: 6px;
}
.main_premium_products p {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #a25f4b;
}
.main_premium_products p:last-of-type {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-decoration: line-through 0.1px;
  color: #1d1f2e66;
}
.main_more_products {
  width: 100%;
  height: 100%;
}
.main_more_products_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
}
.Line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  max-width: 30px;
}
.main_more_products_box_item {
  width: 100%;
  max-width: 960px;
  height: 1633px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 ustundan iborat grid */
  gap: 20px; 
  padding: 20px;
}
.main_more_products_box {
  width: 100%;
  max-width: 317px;
  height: 497px;

  padding: 15px;
  text-align: center;
}
.main_more_products_box img {
  width: 300px;
  height: auto;
}
.main_more_products_box h4 {
  font-family: Karla;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.main_more_products_box p {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
}
.main_more_products_box h3 {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
}
.main_more_products_box h1 {
  color: #a25f4b;
  font-family: Karla;
  font-weight: 400;
  font-size: 19px;
  display: inline;
}

.promo_offer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
  margin-top: 100px;
  text-align: center;
}
.promo_offer_title_line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  max-width: 30px;
}
.promo_offer_title h2 {
  color: #111;
  text-align: center;
  font-family: Karla;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
.promo_offer {
  width: 100%;
  max-width: 980px;
  height: 280px;
  display: flex;
  gap: 50px;
  margin-top: 100px;
  margin-left: 250px;
  align-items:center;
}
.promo_offer_image {
  width: 100%;
  max-width: 460px;
  height: 280px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.promo_offer_image img:first-of-type {
  width: 100%;
  max-width: 280px;
  height: 280px;
  grid-row: span 2;
}
.promo_offer_image img:last-of-type {
  width: 100%;
  max-width: 160px;
  height: 130px;
  object-fit: cover;
}
.promo_offer_text {
  width: 100%;
  max-width: 460px;
  height: 273px;
  font-family: Karla;
}
.promo_offer_text h3 {
  font-family: Karla;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}
.promo_offer_text h1 {
  width: 237px;
  height: 100px;
  font-family: Karla;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
  margin-top: 14px;
}
.promo_offer_text p {
  width: 353px;
  height: 56px;
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1d1f2eb2;
  margin-top: 15px;
}
.promo_offer_text button {
  width: 173px;
  height: 35px;
  background-color: #1d1f2e;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Karla;
  margin-top: 29.5px;
}
.promo_offer_text button:hover {
  color: #1d1f2e;
  background-color: #ffffff;
  border: 1px solid;
}
.footer_Cofe_img {
  width: 100%;
  height: 340px;
  margin-top: 130px;
}
.footer_Cofe_img img {
  width: 100%;
  max-width: 1440px;
  height: 340px;
}
.Blog_Cards_Layout_title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
  margin-top: 100px;
}
.Blog_Cards_Layout_title_line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  max-width: 30px;
}
h2 {
  color: #111;
  text-align: center;
  font-family: Karla;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}
@media screen and (max-width: 670px) {
  .container {

    max-width: 100%;
    align-items:center
  }
  header {
    
    max-width: 100% ;
  }
  .header_top span{
  
    max-width: 100%;

  }
  .header_top_navbar a {
    display:none;
  }
  .header_top_navbar_btn{
    margin-left: 100px;

    max-width: 100%;
  }
  .main_informationCofe {
  
    max-width: 100%;
  }
  .main_informationCofe h1 {

    max-width:100%;
    height: 100%;
  }
  .main_informationCofe p {
    width: 100%;
    max-width:100%;
    height: 100%;
    margin-top: 70px;
   
  }
  .main_informationCofe button {
    width: 110px;
    height: 30px;
  }
  .main_premium_products_information{
    max-width: 600px;
    display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  margin-top: 3px;
  }
  .main_premium_products:first-of-type {
    max-width: 460px;
    align-items: center;
  }
  .main_premium_products:last-of-type {
    height: 657px;
    max-width: 600px;
    min-width: 300px;
    align-items: center;
  }
  .main_premium_products img {
max-width: 670px;
  height: 540px;
  margin: 0 10px;
}
.main_more_products_title{
  margin-top: 700px;
}
.main_more_products{
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
}
.promo_offer_title{
  margin-top: 1000000px;
}

}
